# Define the Docker container name
export CONTAINER_NAME="$(basename $PWD)"
export USER_UID=$(id -u $(whoami))
export USER_GID=$(id -g $(whoami))
export USER_NAME="$CONTAINER_NAME"
DOCKER_PATH=https://github.com/thomasbellio/docker-images.git
DOCKER_FILE=dev-images/debian/php/8.3.11/Dockerfile

# Directory path
DOCKER_DIR=${PWD}/.docker
USER_HIST_FILE_DIR="$DOCKER_DIR/history/user"
ROOT_HIST_FILE_DIR="$DOCKER_DIR/history/root"
# File paths
USER_HIST_FILE="$USER_HIST_FILE_DIR/histfile"
ROOT_HIST_FILE="$ROOT_HIST_FILE_DIR/histfile"

# Check if .docker directory exists, create it if it doesn't
if [ ! -d "$DOCKER_DIR" ]; then
    echo "Creating directory: $DOCKER_DIR"
    mkdir -p "$DOCKER_DIR"
    # Set appropriate permissions (only owner can access)
    chmod 700 "$DOCKER_DIR"
fi

if [ ! -d "$USER_HIST_FILE_DIR" ]; then
    echo "Creating directory: $USER_HIST_FILE_DIR"
    mkdir -p "$USER_HIST_FILE_DIR"
    # Set appropriate permissions (only owner can access)
    chmod 700 "$USER_HIST_FILE_DIR"
fi


if [ ! -d "$ROOT_HIST_FILE_DIR" ]; then
    echo "Creating directory: $ROOT_HIST_FILE_DIR"
    mkdir -p "$ROOT_HIST_FILE_DIR"
    # Set appropriate permissions (only owner can access)
    chmod 700 "$ROOT_HIST_FILE_DIR"
fi

# Check if histfile exists, create it if it doesn't
if [ ! -f "$USER_HIST_FILE" ]; then
    echo "Creating file: $USER_HIST_FILE"
    touch "$USER_HIST_FILE"
    # Set appropriate permissions (only owner can read/write)
    chmod 600 "$USER_HIST_FILE"
fi

# Check if roothistfile exists, create it if it doesn't
if [ ! -f "$ROOT_HIST_FILE" ]; then
    echo "Creating file: $ROOT_HIST_FILE"
    touch "$ROOT_HIST_FILE"
    # Set appropriate permissions (only owner can read/write)
    chmod 600 "$ROOT_HIST_FILE"
fi

echo "History Setup complete. The history directory and history files now exist"
# Check if container exists and is running
if ! docker ps -q -f name=$CONTAINER_NAME | grep -q .; then
  # If not running but exists, start it
  if docker ps -a -q -f name=$CONTAINER_NAME | grep -q .; then
    echo "Starting existing container: $CONTAINER_NAME"
    docker start $CONTAINER_NAME
  else
    # If it doesn't exist, build and start it
    echo "Creating new container: $CONTAINER_NAME"
    docker build -t ${CONTAINER_NAME}-image \
        --build-arg USER_NAME=$USER_NAME \
        --build-arg USER_UID=$(id -u) \
        --build-arg USER_GID=$(id -g) \
        --file $DOCKER_FILE \
          $DOCKER_PATH && \
    docker run -d --name $CONTAINER_NAME \
      --hostname "$CONTAINER_NAME-docker" \
      -v ${PWD}/.docker/history/root/:/root/history \
      -v ${PWD}/.docker/history/user/:/home/$USER_NAME/history \
      -v /etc/localtime:/etc/localtime:ro \
      -v ${PWD}:/root/dotfiles \
      -v ${PWD}:/home/$USER_NAME/dotfiles \
      -v ${SSH_AUTH_SOCK}:/ssh-agent -e SSH_AUTH_SOCK=/ssh-agent \
      -v ${HOME}/.ssh/known_hosts:/root/.ssh/known_hosts \
      ${CONTAINER_NAME}-image sleep infinity
  fi
fi

