[Match]
Name=cbridge0

[Network]
DHCPServer=yes
IPv4Forwarding=yes
IPv6Forwarding=yes
IPMasquerade=both

[Address]
Address=10.0.1.1/24

[Route]
; this is the route to the admin network
Destination=10.0.0.0/24
; this is the bridge for the admin network
Gateway=10.0.0.1

